<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="TodoDatabase" connectionString="Add your connection string here" providerName="System.Data.SqlClient" />
    <add name="TodoContext" connectionString="metadata=res://*/TodoModel.csdl|res://*/TodoModel.ssdl|res://*/TodoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Add your provider connection string here&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>